.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .carousel-item img {
    /* max-height: 100%; */
    max-width: 100%;
    /* height: auto; */
    margin: 0 auto;
  }
  